@font-face {
    font-family: 'ama';
    src: url(../Fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: 'bun';
    src: url(../Fonts/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: 'ari';
    src: url(../Fonts/Arizonia-Regular.ttf);
}

@font-face {
    font-family: 'bar';
    src: url(../Fonts/ethnocentric_[fr.allfont.net].ttf);
}

@font-face {
    font-family: 'che';
    src: url(../Fonts/ChelseaMarket-Regular.ttf);
}

@font-face {
    font-family: 'cin';
    src: url(../Fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'cyb';
    src: url(../Fonts/Cyberpunk-Regular.ttf);
}

@font-face {
    font-family: 'flo';
    src: url(../Fonts/FlowCircular-Regular.ttf);
}

@font-face {
    font-family: 'fin';
    src: url(../Fonts/FingerPaint-Regular.ttf);
}

@font-face {
    font-family: 'fri';
    src: url(../Fonts/Frijole-Regular.ttf);
}

@font-face {
    font-family: 'kin';
    src: url(../Fonts/Kings-Regular.ttf);
}

@font-face {
    font-family: 'red';
    src: url(../Fonts/ReadexPro-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'sci';
    src: url(../Fonts/RedactedScript-Light.ttf);
}

@font-face {
    font-family: 'zek';
    src: url(../Fonts/new_zelek_[fr.allfont.net].ttf);
}

@font-face {
    font-family: 'zil';
    src: url(../Fonts/ZillaSlabHighlight-Regular.ttf);
}